In [23]:
import pandas as pd
import numpy as np
import pickle
import tensorflow as tf
from tensorflow.keras.models import load_model

In [24]:
## Load the pkl file

with open('label_encoded_gender.pkl', 'rb') as file:
    label_encoder = pickle.load(file)

with open('onehot_encoded_country.pkl', 'rb') as file:
    onehot_encoder = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

## Load the model
model = load_model('churn_model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [25]:
##Input data as dictionary
input_data = {
    'credit_score': 657, 
    'country': 'Spain',
    'gender': 'Female',
    'age': 37,
    'tenure': 0,
    'balance': 163607.18,
    'products_number': 1,
    'credit_card': 0,
    'active_member': 1,
    'estimated_salary': 44203.55,
}

# output --> 'churn': 0

In [26]:
# Convert input data to DataFrame
input_df = pd.DataFrame([input_data])

In [27]:
input_df['gender'] = label_encode_gender = label_encoder.transform(input_df['gender'])
onehot_encode_country = onehot_encoder.transform(input_df[['country']])

In [28]:
onehot_encode_country = pd.DataFrame(onehot_encode_country, columns=onehot_encoder.get_feature_names_out(['country']))

In [29]:
input_df = pd.concat([input_df.drop('country', axis=1), onehot_encode_country], axis=1)

In [30]:
input_df

,credit_score,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,country_France,country_Germany,country_Spain
0,657,0,37,0,163607.18,1,0,1,44203.55,0.0,0.0,1.0

In [31]:
# Scale the input data
input_df_scaled = scaler.transform(input_df)

In [32]:
# Predict the output
prediction = model.predict(input_df_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 205ms/step

In [33]:
prediction

array([[0.06432295]], dtype=float32)

In [34]:
if prediction[0][0] > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.